@import "https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Varela+Round&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alata&display=swap";
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #131419;
}
/* Custom Scroll Bar*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#117bfb);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#00c6f0);
}

/* Navigation Bar CSS*/

nav {
    height: 80px;
    position: fixed;
    margin-top: -10rem;
    background-color: rgb(39, 41, 43);
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    font-family: "Poppins";
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav a.active, nav a:hover {
    background: #1b9bff;
    opacity: 1;
    transition: .5s;
}
.a-icon {
    display: none;
}
/*For landing page*/

#landing, #skills, #projects {
    height: 100vh;
}

.intro {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}

.intro_text {
    color: whitesmoke;
    font-family: 'Varela Round';
    font-size: 1.5rem;
    width: auto;
    margin: 05rem;
    max-width: 700px;
    margin-top: 50px;
    text-align: justify;
}

.span_name {
    color: #117bfb;
}

.logo_img {
    width: 400px;
    height: 400px;
    margin-left: 60%;
    border-radius: 50%;
    margin-right: 10rem;
    margin-top: -50rem;
}

/*For qualification page*/

.quali-head {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}

.quali-text {
    color: whitesmoke;
    font-family: 'Varela Round';
    font-size: 1.5rem;
    width: auto;
    margin: 05rem;
    max-width: 700px;
    margin-top: 10px;
    text-align: justify;
}

.qualification-span {
    color: #117bfb;
}

.quali_img {
    width: auto;
    height: auto;
    margin-left: 60%;
    border-radius: 50%;
    margin-right: 10rem;
    padding-bottom: 10rem;
    margin-top: -100rem;
}

.quali-area {
    font-size: 3rem;
    color: #117bfb;
    margin-left: 5rem;
}

/*Animation using Keyframe to images*/

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.logo_img:hover {
    animation: zoominoutsinglefeatured 1s infinite;
}

.quali_img:hover {
    animation: zoominoutsinglefeatured 1s infinite;
}

/*For Skills Section CSS*/

.skills-head {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}

.skills-class {
    padding-top: 1rem;
}

.wrapper, .quali-class {
    padding-top: 0.5rem;
}

.skill-text {
    font-family: 'Varela Round';
    margin-left: 5rem;
    color: white;
    font-size: 2rem;
}

.container {
    width: 60%;
    margin: 1rem;
    position: relative;
    z-index: -10;
    border-radius: 10px;
    left: 4rem;
    background-color: #ddd;
}

.container:hover {
    transform: scale(1.1);
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.app {
    width: 90%;
    border-radius: 10px;
    background-color: #2196F3;
}

.learn {
    width: 98%;
    border-radius: 10px;
    background-color: #2196F3;
}

.hack {
    width: 66%;
    border-radius: 10px;
    margin-bottom: 10rem;
    background-color: #2196F3;
}

.team {
    width: 94%;
    border-radius: 10px;
    background-color: #2196F3;
}

/*For Project Section CSS*/

.project-text {
    display: none; /* SO that is remain hidden for Desktop mode but for mobile we will make it visible */
}

.flex-container {
    display: flex;
    margin: 2rem;
    align-content: center;
    justify-content: center;
    background-size: auto;
}

.card {
    background-size: auto;
}

.card p {
    color: white;
    font-family: 'Alata';
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.card img {
    width: 450px;
    height: 300px;
    z-index: -1;
    padding: 1rem;
    border-radius: 30px;
}

.card:hover {
    opacity: 100%;
    transform: scale(1.3);
}
.card:hover img {
    margin: 2rem;
}

/*For Contact Section CSS*/


.social-card {
    max-width: 300px;
    padding: 2rem;
    margin: auto;
    background-color: #d2d2d2;
    text-align: center;
    color: black;
    margin-bottom: 5rem;
    border-radius: 10px;
  }
  .social-card:hover {
      transform: scale(1);
      background-color: #ffffff ;
      color: white;
      background-color: rgb(39, 41, 43);
      box-shadow: 0 4px 8px 0 #117bfb;
  }
  .social-card:hover  a {
    color: white;
}
  .social-card img {
      height:100px ;
      margin: 2rem;
  }
  
  .title {
    padding: 1rem;
    opacity: 0.9;
    font-size: 18px;
    font-family: "Lora";
  }

  a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    color: black;
    padding-bottom: 2rem;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/*For Footer Class*/

.footer-class {
    color: white;
    background-color: #0082e6;
    height: auto;
    font-family: 'Alata';
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/*Added Top Button*/

.up-img {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
}

/*For mobile repsonsivenes */

@media (max-width: 1337px) {

    
    .flex-container {
        display: block;
    }
    #projects {
        height: auto;
    }
    .card {
        opacity: 1;
        border-radius: 20px;
        background-color: #131419;
        margin: 2rem;
        font-size: 150%;
    }
    .card:hover {
        opacity: 100%;
        transform: scale(1);
    }
    img {
        display: none
    }
    .logo_img, .quali_img {
        display: none;
    }
    nav {
        height: auto;
        /* position: fixed; */
        display: flex;
        flex-flow: wrap-reverse;
        /* margin-top: 0rem; */
        background-color: rgb(39, 41, 43);
        width: 100%;
    }
    .intro_text {
        width: 150%;
    }
    .intro, .quali-head, .skills-head {
        color: white;
        font-size: 3rem;
        margin: 2rem;
    }
    .intro_text, .quali-text {
        color: whitesmoke;
        font-family: 'Varela Round';
        font-size: 1rem;
        width: auto;
        margin: 02rem;
        max-width: 700px;
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: justify;
    }
    .quali-area {
        font-size: 2rem;
        color: #117bfb;
        margin-left: 2rem;
    }
    .social {
        display: flex;
        margin: 10rem 0;
        justify-content: center;
        flex-direction: row;
    }
    #landing, #skills {
        height: auto;
        margin-top: 10rem;
    }
    img-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project-text {
        text-align: start;
        font-family: 'Varela Round';
        font-size: 1.5rem;
    }
    #qualification, #projects {
        background-color: rgb(39, 41, 43);
        margin: 1rem;
        padding: 0.1rem 0rem;
        border-radius: 20px;
    }
    .skill-text {
        font-family: 'Varela Round';
        margin-left: 5rem;
        color: white;
        font-size: 1.5rem;
    }
    .up-img {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 60px;
        right: 20px;
    }
}
/*Nav Bar mobile responsive*/

@media (max-width: 600px) {
    nav ul li {
        display: inline-block;
        font-family: "Poppins";
        line-height: 80px;
        padding-left: 20px;
        /* margin: 0 5px; */
    }
    nav ul li a {
        color: white;
        font-size: 40px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    .normal-a {
        display: none;
    }
    .a-icon {
        display: contents;
    }
}