@import "https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans&display=swap";

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: #131419;
    
}

nav {
    height: 80px;
    position: fixed;
    margin-top: -10rem;
    background-color: rgb(39, 41, 43);
    width: 100%;
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}
/*For landing page*/
#landing , #skills{
    height: 100vh;
}
.intro {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}
.intro_text {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 1.5rem;
    width: auto;
    margin: 05rem;
    max-width: 700px;
    margin-top: 50px;
    text-align: justify;
}
.span_name {
    color: #117bfb;
}
.logo_img {
    width: 400px;
    height: 400px;
    margin-left: 60%;
    border-radius: 50%;
    margin-right: 10rem;
    margin-top: -50rem;
}
/*For qualification page*/
.quali-head {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}
.quali-text {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 1.5rem;
    width: auto;
    margin: 05rem;
    max-width: 700px;
    margin-top: 50px;
    text-align: justify;
}
.qualification-span {
    color: #117bfb;
}
.quali_img {
    width: auto;
    height: auto;
    margin-left: 60%;
    border-radius: 50%;
    margin-right: 10rem;
    padding-bottom: 10rem;
    margin-top: -100rem;
}
.quali-area {
    font-size: 3rem;
    color: #117bfb;
    margin-left: 5rem;
}

/*Animation using Keyframe to images*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.logo_img:hover {
    animation: zoominoutsinglefeatured 1s infinite;
}

.quali_img:hover {
    animation: zoominoutsinglefeatured 1s infinite;
}
/*For Skills Section CSS*/
.skills-head {
    color: white;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 10rem;
}
.skills-class{
    padding-top: 1rem;
}
.wrapper,.quali-class  {
    padding-top: 0.5rem;
}
.skill-text {
    font-family: 'Lora';
    margin-left: 5rem;
    color: white;
    font-size: 2rem;
}

.container {
    width: 60%;
    margin: 1rem;
    position: relative;
    border-radius: 10px;
    left: 4rem;
    background-color: #ddd;
}

.container:hover {
    transform: scale(1.1);
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.app {
    width: 90%;
    border-radius: 10px;
    background-color: #2196F3;
}

.learn {
    width: 98%;
    border-radius: 10px;
    background-color: #2196F3;
}

.hack {
    width: 66%;
    border-radius: 10px;
    margin-bottom: 10rem;
    background-color: #2196F3;
}

.team {
    width: 94%;
    border-radius: 10px;
    background-color: #2196F3;
}
/*For Project Section CSS*/

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-img {
    border-radius: 10%;
}

.project-text {
    color: white;
    font-size: 2rem;
    padding: 2rem;
}
/*For Contact Section CSS*/

.social {
    display: flex;
    margin: 20rem;
    justify-content: center;
    flex-direction: row;
}

.fa:hover {
    transform: scale(1.5);
}

.fa {
    padding: 20px;
    font-size: 30px;
    margin: 5px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #234;
    color: white;
}

.fa-instagram {
    background: palevioletred;
    color: white;
}

.fa-android {
    background: limegreen;
    color: white;
}
/*For Footer Class*/

.footer-class {
    color: white;
    background-color: #0082e6;
    height: auto;
    font-family: 'Lora';
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
/*Added Top Button*/

.up-img {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
}
/*For mobile repsonsivenes */

@media (max-width: 1337px) {
    .logo_img, .quali_img {
        display: none;
    }
    nav {
        display: none;
    }
    .intro_text {
        width: 150%;
    }
    .intro, .quali-head, .skills-head {
        color: white;
        font-size: 3rem;
        margin: 2rem;
    }
    .intro_text, .quali-text {
        color: whitesmoke;
        font-family: 'Lora';
        font-size: 1rem;
        width: auto;
        margin: 02rem;
        max-width: 700px;
        margin-top: 50px;
        text-align: justify;
    }
    .quali-area {
        font-size: 2rem;
        color: #117bfb;
        margin-left: 2rem;
    }
    .social {
        display: flex;
        margin: 10rem  0;
        justify-content: center;
        flex-direction: row;
    }
    #landing , #skills {
        height: auto;
    }
    img-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .single-img {
        display: none;
    }
    .project-text {
        text-align: start;
        font-family: 'Lora';
        font-size: 1.5rem;

    }
    #qualification ,#projects {
        background-color:rgb(39, 41, 43)    ;
        margin: 1rem;
        padding: 0.1rem 0rem;
        border-radius: 20px;
    }
    .skill-text {
        font-family: 'Lora';
        margin-left: 5rem;
        color: white;
        font-size: 1.5rem;
    }
    .up-img {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 60px;
        right: 20px;
    }
}
    
